client:
  client_id: MyClientId
  user_agent: MyUserAgentString
  client_secret: MyClientSecret
  username: MyUserName
  password: MyPassword
subreddit: MySubreddit+MyOtherSubreddit
comments_to_fetch: 200
minimum_comment_size: 20